<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="Application" />
  </root>

  <logger additivity="false" name="DownloaderService">
    <level value="All"/>
    <appender-ref ref="DownloaderService" />
  </logger>

  <appender name="Application" type="log4net.Appender.RollingFileAppender">
    <file value="${AppData}\BaliConverter\Logs\Host\Application.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="25MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="DownloaderService" type="log4net.Appender.RollingFileAppender">
    <file value="${AppData}\BaliConverter\Logs\Services\Downloader.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="25MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

</log4net>